*.tar.gz
Makefile
Makefile.in
aclocal.m4
config.cache
config.log
config.status
configure
libtool
stamp-h
stamp-h.in
stamp-h1
INSTALL
autom4te.cache
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
wigwam-config.h
ww-make
