Makefile.in
Makefile
.deps
.libs
*.lo
*.la
*.backup
*.sgml
*~
*.swp
*.syntax
.gdbinit
compute_installed_files
find_version_satisfying
image
satisfy
invert_provides
merge_conflicts
merge_dependencies
merge_provides
merge_versions
merge_types
plan
ref_files
show_conflicts
show_dependencies
show_provides
show_versions
show_types
sort_packages
test-version
unref_files
